body{
margin: 0;
padding: 0;
line-height: 1.7;
background-color:#f8f9fa;
}
.character-container{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap:45px;
width:80%;
max-width: 1200px;
margin: var(--spacing-large)auto;
}
.character-element{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px, 20px;
    background-color: var(--color-white);
}

.character-element-name{
    margin-bottom: auto;
}
.character-element-img{
    width: 100%;
    object-fit: contain;
}
.character-element-created{
margin-top: var(--spacing-medium);
color: var(--color-unaccent);
}
.character-element-species{
    margin-top: var(--spacing-medium);
    color: var(--color-unaccent);   
}
.character-element-episodes{
    margin-top: var(--spacing-medium);
    color: var(--color-unaccent);  
}
.character-element-location{
    margin-top: var(--spacing-medium);
    color: var(--color-unaccent);  
}